@import 'colors';

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	position: relative;
	font-family: 'Montserrat', sans-serif;
	background-color: #444;
}

.blue-text {
	color: $blue-color;
}

.shadow-bg {
	background-color: rgba(0, 0, 0, 0.8);
}

nav {
	text-transform: uppercase;
	z-index: 1;
	transition: background-color 0.6s;

	.nav-link,
	i,
	a {
		color: $white;
	}
	a:hover {
		color: $blue-color;
	}
	.nav-link:hover {
		color: $blue-color;
	}

	.fa-bars {
		padding: 10px;
	}

	.navbar-brand {
		font-weight: bold;
	}

	.active {
		color: $blue-color;
	}
}

header {
	color: $white;

	h1 {
		font-size: 30px;
		text-transform: uppercase;
	}

	p {
		font-size: 14px;
	}

	.hero-img {
		position: relative;
		height: 100vh;
		background-image: url('../img/header-mini.jpg');
		background-position: center;
		background-size: cover;
		background-attachment: fixed;
		z-index: 0;
	}

	.hero-shadow {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.8);
		z-index: -10;
	}

	.hero-text {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		height: 100%;
		padding: 10px;
		text-align: center;
		z-index: 5;
	}
	.btn-outline-light {
		text-transform: uppercase;
	}
	.fa-chevron-down {
		position: absolute;
		bottom: 20px;
		left: 50%;
		font-size: 30px;
		transform: translateX(-50%);
		color: $white;
	}
}

@media (min-width: 375px) {
	header {
		h1 {
			font-size: 36px;
		}

		p {
			font-size: 16px;
		}
	}
}

@media (min-width: 768px) {
	header {
		h1 {
			font-size: 42px;
		}

		p {
			font-size: 20px;
		}
	}
}

@media (min-width: 1200px) {
	header {
		.hero-img {
			background-image: url('../img/header-big.jpg');
		}
	}
}
