* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	margin: 50px;
	font-family: sans-serif;
	font-size: 30px;
	color: #fff;
	background-color: #333;
}
// p {
// 	margin: 100px;
// 	text-align: center;
// }
// p::before {
// 	content: 'Cześć ';
// 	color: lime;
// }
// p::after {
// 	content: '! :) ';
// 	color: lime;
// }
.square {
	margin: 100px auto;
	width: 300px;
	height: 300px;
	color: tomato;
}
