* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Montserrat', sans-serif;
	background-color: #333;
}
section {
	display: flex;
	flex-direction: column;
	// justify-content: flex-end;
	// justify-content: flex-end;
	// justify-content: center;
	// justify-content: space-between;
	// justify-content: space-around;
	// justify-content: space-evenly;
}
.square {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 300px;
	height: 300px;
	font-size: 50px;
	border: 3px solid black;
}
.one {
	background-color: gold;
}
.two {
	background-color: greenyellow;
}
.three {
	background-color: royalblue;
}
.four {
	background-color: tomato;
}
