* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	margin: 50px;
	font-family: sans-serif;
	font-size: 30px;
	color: #fff;
	background-color: #333;
}
.square {
	width: 300px;
	height: 300px;
	background-color: tomato;
	animation: square-animation 4s forwards;
}
.circle {
	width: 300px;
	height: 300px;
	background-color: lime;
	border-radius: 50%;
	animation: circle-animation 2s 4s;
}
@keyframes square-animation {
	0% {
		width: 300px;
		height: 300px;
		background-color: tomato;
	}
	50% {
		width: 600px;
		height: 300px;
	}
	100% {
		width: 300px;
		height: 600px;
		background-color: gold;
	}
}
@keyframes circle-animation {
	from {
		background-color: lime;
	}
	to {
		background-color: royalblue;
	}
}
