* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	margin: 50px;
	font-family: sans-serif;
	font-size: 30px;
	color: #fff;
	background-color: #333;
}
table,
tr,
td {
	border: 1px solid black;
}
td {
	width: 300px;
	height: 100px;
}

p:nth-child(2n) {
	color: lime;
}
tr:nth-child(odd) {
	background-color: #ddd;
}
tr:nth-child(even) {
	background-color: #888;
}
