$first-color: lime;

body {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100vh;
	background-color: #333;
	font-family: sans-serif;
}
.size {
	margin: 20px auto;
	width: 50%;
	height: 60px;
	border: 3px solid black;
	border-radius: 25px;
}
.color1 {
	background-color: $first-color;
}
.color2 {
	background-color: royalblue;
}
.color3 {
	background-color: $first-color;
}
.color4 {
	background-color: royalblue;
}
.color5 {
	background-color: $first-color;
}
.color6 {
	background-color: royalblue;
}
