* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	margin: 50px;
	font-family: sans-serif;
	font-size: 30px;
	color: #fff;
	background-color: #333;
}
a {
	display: block;
	color: #fff;
	text-decoration: none;
}
// [href] {
// 	color: gold;
// }
p[class*='test'] {
	color: gold;
}
a[href$='xls']::before {
	content: '';
	display: inline-block;
	width: 24px;
	height: 24px;
	padding-left: 10px;
	background: url('https://icons.iconarchive.com/icons/dakirby309/simply-styled/24/Microsoft-Excel-2013-icon.png')
		no-repeat;
}
