* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Montserrat', sans-serif;
	background-color: #333;
}
section {
	display: flex;
	height: 600px;
	// align-items: stretch;
	// align-items: flex-end;
	// align-items: center;
	align-items: baseline;
}
.square {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 20%;
	border: 3px solid black;
}
.one {
	background-color: gold;
}
.two {
	background-color: greenyellow;
}
.three {
	background-color: royalblue;
}
.four {
	background-color: tomato;
}
