* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Montserrat', sans-serif;
	background-color: #333;
}
section {
	display: flex;
	height: 600px;
	flex-wrap: wrap;
	// align-content: center;
	// align-content: space-around;
	// align-content: stretch;
}
.square {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 25%;
	border: 3px solid black;
}
.one {
	background-color: gold;
}
.two {
	background-color: greenyellow;
}
.three {
	background-color: royalblue;
}
.four {
	background-color: tomato;
}
