* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	margin: 50px;
	height: 100vh;
	background-color: #333;
	font-size: 23px;
}

div {
	width: 800px;
	height: 300px;
}
.inside {
	width: 300px;
	height: 3000px;
	background-color: gold;
}
