@mixin addons {
	background-color: gold;
	border-radius: 25px;
}
@mixin color($bg-color) {
	background-color: $bg-color;
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	background-color: #333;
	font-family: sans-serif;
}

.square {
	margin: 50px;
	width: 200px;
	height: 200px;
	border: 5px solid black;
	@include addons;
}
.success {
	@include color(lime);
}
.warning {
	@include color(tomato);
}
