* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	margin: 50px;
	font-family: sans-serif;
	font-size: 30px;
	color: #fff;
	background-color: #333;
}
li:nth-child(even) {
	color: greenyellow;
}
span:first-of-type {
	color: yellow;
}
// .test p:first-child {
// 	color: yellow;
// }
// .test p:last-child {
// 	color: yellow;
// }
.test {
	p:first-child,
	p:last-child {
		color: yellow;
	}
}
.title {
	transition: color 0.3s;
}
.title:hover {
	color: rebeccapurple;
}
