@import './colors';
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	background-color: #333;
	font-family: sans-serif;
}

.square {
	margin: 50px;
	width: 200px;
	height: 200px;
	border: 5px solid black;
}
.one {
	background-color: $gold;
}
.two {
	background-color: $tomato;
}
.three {
	background-color: $milk;
}
